<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" strict="true" monitorInterval="30"
    xmlns="http://logging.apache.org/log4j/2.0/config"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
    https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="org.eclipse" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
<!--
        <Logger name="org.apache" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
-->
        <Logger name="org.glassfish.jersey" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="org.glassfish.grizzly" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="org.hibernate" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="net.es.nsi.dds" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>

